﻿body {
    background: #707070 url('images/intranetsp2/background.gif') repeat-x;
    font: .80em Arial;
    margin: 0;
    padding: 0;
    text-align: center;
}

.clearer{clear:both;}

.leftfloat{float:left;}
.rightfloat{float: right;}

/* ******************* CONTAINERS ***************** */

#container
{
    background: #aaa url('images/intranetsp2/subcontainer3.gif') repeat-y;
    border-bottom: 1px solid #4f4f4f;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 10px;
    text-align: left;
    width: 775px;
}

#header
{
    height: 105px;
    padding: 0 10px 0 10px;
}

#sidebar
{
    background: url('images/intranetsp2/logo5.gif') no-repeat 10px 0;
    float: left;
    padding-left: 21px;
}

#content
{
    float: right;
    background: url('images/intranetsp2/banner4.gif') no-repeat;
    padding-right: 27px;
    padding-bottom: 27px;
}

#content .inner
{
	padding-top: 0px!important;
	margin-top: 67px;
	padding-left: 17px;
	margin-left: 17px;
}

#breadcrumb{
	background: #aaa;
	border-top: 1px solid #505050;
	bottom: 0;
	color: #fff;
	left: 0;
	margin: 0;
	padding: 5px 15px;
	position: fixed;
	text-align: left;
	width: 100%;
}

#breadcrumbTop {
    background: #EFF6FC;
    border-top: 8px solid #fff;
    bottom: 0;
    color: #000;
    left: 0;
    margin-bottom: 21px;
    padding: 3px 6px;
    text-align: left;
    font: 8pt Arial;
    line-height: 1.5em;
}
