﻿body
{
	color:#000
}

h3.pageTitle
{
	color:#003399
}

td
{
	font: 88% verdana,arial,geneva,helvetica,sans-serif;
}

th
{
	font: bold 88% verdana,arial,geneva,helvetica,sans-serif;
	color:#003399
}

td.large
{
	background: #eee url('images/defaults/light4.gif') repeat-x 0px top;
}

td.solid {
    background: none;
    background-color: #eee;
    text-align: left;
    vertical-align: top;
}

select, input, textarea {
    font: 100% verdana,arial,geneva,helvetica,sans-serif;
    margin-top: 2px;
    padding: 3px;
}

.sortHeader:hover {
    cursor: pointer;
}

.ui-timepicker {
    font-size: .80em !important;
}

.ui-timepicker-container {
    width: 95px !important;
}

.ui-timepicker, .ui-timepicker-viewport {
    width: 85px !important;
}

.ui-timepicker-viewport li {
    width: 66px !important;
}

div.title
{
	padding: 3px 0px 3px 5px;
	vertical-align:text-bottom;
	font: bold 88% verdana,arial;
	border: 1px solid #aaa;
	background: url('images/defaults/dark2.gif') repeat-x 0 0; 
	color:#003399
}

div.section
{
	padding: 10px;
	font: 88% verdana,arial,geneva,helvetica,sans-serif;
	border: 1px solid #aaa;
	border-top:none;
	background-color: #eee;
}

div.indent
{
	padding-left:35px;
	padding-bottom:10px;
	text-align:left;
}

a.smallText
{
	font: 110% verdana,arial,geneva,helvetica,sans-serif;
}

span
{
	font-weight: normal;
}

.row {
    padding: 5px 0px 5px 5px;
}

.col {
    display: inline-block;
    padding-right: 10px;
    margin-right: 10px;
}

.timeCol {
    display: inline-block;
    margin-right: 6px;
    height:100%;
    vertical-align:top;
}

.timeCol input{
    width: 59px;
}

.ui-autocomplete-loading {
    background: white url("./images/defaults/ui-anim_basic_16x16.gif") right center no-repeat;
}
/*Scrollable for autocomplete*/
.ui-autocomplete {
    width: 30%;
    padding: 10px;
    text-align: left;
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

/* IE 6 doesn't support max-height
           * we use height instead, but this forces the menu to always be this tall
           */
* html .ui-autocomplete {
    height: 100px;
}
