﻿body {
    font: 85% Times New Roman;
}

.title {
    padding: 3px 0px 3px 3px;
    vertical-align: text-bottom;
    font: bold 88% Times New Roman;
    border: 1px solid #000;
}

.section {
    padding: 10px;
    border: 1px solid #000;
    border-top: none;
}

.row {
    padding: 3px 0px 3px 3px;
}

.col {
    display: inline-block;
    padding-right: 5px;
    margin-right: 5px;
}

.timeCol {
    display: inline-block;
    margin-right: 6px;
    height: 100%;
    vertical-align: top;
}

.clearer{
	clear:both;
	visibility:hidden;
}

a{
	font-size: 120%;
}

table {
    border: 1px solid #000;
}

td{
    padding:3px;
}